@import "./_variables";

.Projects-container-box {
    width: 100%;
    min-height: 80vh;
    font-family: $ff;
    color: $pColor;

    .pp-header {
        width: 100%;
        min-height: 16rem;
        background-color: #17223b;
        @include flex();
        gap: 2rem;
        h4 {
            font-size: 2.5rem;
            color: $primaryColor;
        }
        .pp-header p {
            font-size: 0.9rem;
            padding: 15px 0;
        }
        > img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            object-fit: contain;
            border: 2px solid $primaryColor;
        }
        svg {
            margin: 0 1rem 0 0;
            font-size: 1.2rem;
        }
        > div {
            width: 50%;
        }
    }

    .p-container {
        width: 90%;
        min-height: 20rem;
        margin: 2rem auto;
        @include flex();
        flex-wrap: wrap;
        gap: 1rem;
        > .project-bx {
            width: 32rem;
            height: 24rem;
            border: 1px solid $borderColor;
            background: $softBgColor;
            border-radius: 10px;
            display: flex;
            margin: 1rem;
            justify-content: center;

            img {
                width: 96%;
                height: 70%;
                object-fit: cover;
                border-radius: 10px;
                margin: 5px 2%;
            }
            b{
                font-size: 1.4rem;
                margin: 0 1rem;
            }
            .links{
                display: flex;
                justify-content: flex-end;
                margin: 1rem 0;
                gap: 1rem;
                padding-right: 1rem;
                svg{
                    width: 1.3rem;
                    height: 1.3rem;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
   
    .pp-header {
        gap: 1rem !important;
        flex-direction: column;
        align-items: flex-start !important;
        padding: 1rem ;
        > div {
            width: 100% !important;
            >div {
                margin-top: 1rem;
            }
        }
    }
}