@import "./_variables";

#sp__box {
    width: 99vw;
    min-height: 85vh;
    position: relative;
    color: $pColor;
    font-family: $ff;

    h1,h2,h3,h4,h5,h6,#gall{
        color: rgba(45, 149, 253, 0.931) ;
        padding: 15px 0 ;
        font-size: 3rem;
        text-transform: uppercase;
    }

}
.single-project-section {
    width: 80%;
    min-height: 85vh;
    margin: 1rem auto;
    .project-title {
        color: $primaryColor;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 1.5rem 0;
    }
    .project-cover {
        width: 100%;
        max-height: 35rem;
        object-fit: cover;
    }
    
    .p-des{
        width: 100%;
        min-height: 5rem;
        margin: 1rem 0;
    }

    .projectBody{
        width: 100%;
        min-height: 10rem;
        margin: 1rem 0;
        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
    .techBox{
        width: 100%;
        min-height: 5rem;
        margin: 1rem 0;
        @include flex($jc:space-between);
        gap: 1rem;
        h3{
            font-size: 2rem !important;
            text-transform: capitalize !important;
        }
        img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            margin: 0 1rem;
        }
    }
    .urls{
        width: 100%;
        min-height: 5rem;
        border-bottom: 2px solid rgb(0, 119, 255);
        margin: 1rem 0;
    }
    .P-wrapper {
        width: 100%;
        min-height: 15rem;
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 2rem 0;
        position: relative;
        > img {
          width: 100%;
          height: 300px;
          filter: blur(1px);
          transition: .3s ease-in;
          opacity: .8;
          object-fit: cover;
          cursor: zoom-in;
      
          &:hover {
            opacity: 1;
            filter: blur(0) !important;
          }
        }

      
      }
}

.images-box-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    justify-content: center;
    display: none;

    .cls-btn{
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        span{
            font-size: 2.5rem;
            color: #fff;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    .imgs-wg{
        width: 55%;
        img{
            width: 100%;
            margin: 1rem 0;
        }
    }
}
.img-prev
{
    filter: blur(2px);
    overflow-y: hidden;

}
.show-imgs
{
    display: flex !important;
}

@media screen and (max-width: 768px) {

    .single-project-section {
        width: 95%;

        .project-title {
            font-size: 2.2rem;
        }
        .project-cover {
            height: 25rem;
            object-fit: cover;
        }

        .description {
            margin: 1rem 0;
            > img {
                width: 200px;
                height: 200px;
            }
            p {
                font-size: 1REM;
            }
        }

        .long-desc {

            font-size: .9rem;
            .P-wrapper {
                width: 100%;
                min-height: 15rem;
                margin: 1rem 0;

                @include flex();
                gap: 1rem;
                flex-wrap: wrap;
                padding: 2rem 0;
                >img{
                    width: 48%;
                    height: fit-content;
                }
            }
        }
    }

    .images-box-container {
    
        .imgs-wg{
            width: 90%;
            margin-top: 4rem;
            img{
                width: 100%;
                margin: 1rem 0;
            }
        }
    }
}
@media screen and (max-width: 425px) {

    .single-project-section {
        width: 96%;

        .project-title {
            font-size: 2rem;
        }
        .project-cover {
            height: fit-content;
            object-fit: contain;
            width: 100% !important;
        }

        .description {
            margin: 1rem 0;
            > img {
                width: 150px;
                height: 150px;
            }
            p {
                font-size: .8REM;
            }
        }

        .long-desc {

            font-size: .9rem;
            .P-wrapper {
                width: 100%;
                min-height: 15rem;
                margin: 1rem 0;

                @include flex();
                gap: 1rem;
                flex-wrap: wrap;
                padding: 0;
                >img{
                    width: 45%;
                    height: fit-content;
                }
            }
        }
    }

}
